.app-wrapper {
  width: 100%;
  display: flex;
}

.main-content {
  background-color: #f7f7f7;
  width: 85%;
  height: 100vh;
  overflow: hidden;
}

.side-content {
  height: 100vh;
  overflow: hidden;
  width: 15%;
  background-color: #f2a900;
}
